<div class="ui message" id="message_project_status">
    <h4>สถานะสัญญา</h4>
    <div id="project_status"></div>
</div>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="tab_projectinfo">โครงการ</a>
    <a class="item" data-tab="tab_meterinfo">มิเตอร์</a>
    <a class="item" data-tab="tab_document">สำเนาเอกสาร</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="tab_projectinfo">
    <a  href="p_edit_project.php?id=<?= $_GET["id"] ?>"
        class="ui blue top right attached label">
        <i class="write icon"></i>แก้ไขข้อมูลโครงการ</a>
    
        <div class="ui grid">
            
            <div class="right aligned four wide column sh"><b>ชื่อโครงการ : </b></div>
            <div class="left aligned twelve wide column sh" id="p_name"></div>

            <div class="right aligned four wide column sh"><b>no. : </b></div>
            <div class="left aligned twelve wide column sh" id="p_no"></div>

            <div class="right aligned four wide column sh"><b>Location code : </b></div>
            <div class="left aligned twelve wide column sh" id="p_code"></div>

            <div class="right aligned four wide column sh"><b>ชื่อผู้ติดต่อ : </b></div>
            <div class="left aligned twelve wide column sh" id="p_per_name"></div>

            <div class="right aligned four wide column sh"><b>เบอร์โทรศัพท์ : </b></div>
            <div class="left aligned twelve wide column sh" id="p_per_tel"></div>
            
            <div class="right aligned four wide column sh"><b>ที่อยู่โดยละเอียด : </b></div>
            <div class="left aligned twelve wide column sh" id="p_address"></div>

            <div class="right aligned four wide column sh"><b>เขต : </b></div>
            <div class="left aligned twelve wide column sh" id="p_district"></div>

            <div class="right aligned four wide column sh"><b>ประเภทพื้นที่ : </b></div>
            <div class="left aligned twelve wide column sh" id="p_lot_type"></div>

            <div class="right aligned four wide column sh"><b>สถานะพื้นที่ : </b></div>
            <div class="left aligned twelve wide column sh" id="p_lot_status"></div>
        </div>

    <br>
</div>
<div class="ui bottom attached tab segment" data-tab="tab_meterinfo">
    <a  href="p_edit_meter.php?id=<?= $_GET["id"] ?>"
        class="ui blue top right attached label">
        <i class="write icon"></i>แก้ไขข้อมูลมิเตอร์</a>
    
        <div class="ui grid">
	
            <div class="right aligned four wide column sh"><b>เลขที่มิเตอร์ : </b></div>
            <div class="left aligned four wide column sh" id="m_number"></div>

                        <div class="right aligned four wide column sh"><b>เอกสาร 1 : </b></div>
                        <div class="left aligned four wide column sh" id="m_doc1"></div>

            <div class="right aligned four wide column sh"><b>เลขที่สัญญา : </b></div>
            <div class="left aligned four wide column sh" id="m_c_number"></div>

                        <div class="right aligned four wide column sh"><b>เอกสาร 2 : </b></div>
                        <div class="left aligned four wide column sh" id="m_doc2"></div>

            <div class="right aligned four wide column sh"><b>RP : </b></div>
            <div class="left aligned four wide column sh" id="m_RP"></div>

                        <div class="right aligned four wide column sh"><b>ยื่นเรื่องการไฟฟ้า : </b></div>
                        <div class="left aligned four wide column sh" id="m_send"></div>

            <div class="right aligned four wide column sh"><b>Plan : </b></div>
            <div class="left aligned four wide column sh" id="m_plan"></div>

                        <div class="right aligned four wide column sh"><b>ตรวจหน้างาน : </b></div>
                        <div class="left aligned four wide column sh" id="m_check"></div>

            <div class="right aligned four wide column sh"><b>สถานะ : </b></div>
            <div class="left aligned four wide column sh" id="m_status"></div>

                        <div class="right aligned four wide column sh"><b>started date : </b></div>
                        <div class="left aligned four wide column sh" id="m_start"></div>

            <div class="right aligned four wide column sh"><b>เลขสัญญา/เครื่องวัด : </b></div>
            <div class="left aligned twelve wide column sh" id="m_something_number"></div>

            <div class="right aligned four wide column sh"><b>Remark : </b></div>
            <div class="left aligned twelve wide column sh" id="m_remark"></div>

            <div class="right aligned four wide column sh"><b>ผู้ทำจ่าย : </b></div>
            <div class="left aligned twelve wide column sh" id="m_who_pay"></div>
        </div>


    <br>
</div>
<div class="ui bottom attached tab segment" data-tab="tab_document">
    <div id="show_mail_image">
        <h4>สำเนาอีเมล <i class="file image outline icon"></i></h4>
        <button class="ui disabled button"><i class="download icon"></i>ไม่มีข้อมูล</button>
    </div>
    <br><br>
    <div id="show_doc_copy">
        <h4>สำเนาสัญญา <i class="file pdf outline icon"></i></h4>
        <button class="ui disabled button"><i class="download icon"></i>ไม่มีข้อมูล</button>
    </div>
    <br>
    
</div>
