<div id="detail1_info2"></div>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="newcontract">สัญญาใหม่</a>
    <a class="item" data-tab="oldcontract">สัญญาเก่า</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="newcontract">
    
    <!--<div class="ui info message close" id="detail1_info">
        <i class="close icon"></i>
        <div class="header"> บันทึกข้อมูล 'สัญญาใหม่' ลงฟอร์มด้านล่าง </div>
        <ul class="list">
        <li>ข้อมูลที่อยู่ในช่องว่างตอนเริ่มต้นคือข้อมูลล่าสุด หากสัญญาเปลี่ยนแปลงให้แก้ไขข้อมูลในช่อง</li>
        <li>กดปุ่มบันทึก เพื่อบันทึกข้อมูล</li>
        </ul>
    </div>-->
    <form class="ui small form" method="post" id="form_new_contract">
        <div class="ui error message"></div>	
        
        <!--------- แบบฟอร์มสัญญาใหม่ ------------------------------------------------------------------------>
        <div class="field">
            <div class="required field">
                <label>เลขที่สัญญา</label>
                <input type="text" name="contract_number" placeholder="เลขที่สัญญา"
                value="">
            </div>
            <div class="field">
                <label>ผู้ทำสัญญา</label>
                <input type="text" name="contract_person_name" placeholder="ผู้ทำสัญญา"
                value="">
            </div>

            <div class="two fields">
                <div class="required field">
                    <label>ประเภทสัญญา</label>
                    <select class="ui dropdown" name="contract_type" id="contract_type">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
                <div class="required field">
                    <label>สถานะสัญญา</label>
                    <select class="ui dropdown" name="contract_status" id="contract_status">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
            </div>

            <div class="three fields">
                <div class="required field">
                    <label>วันเริ่มสัญญา</label>
                    <input type="date" name="contract_start" placeholder="วันเริ่มสัญญา"
                    value="">
                </div>
                <div class="required field">
                    <label>วันสิ้นสุดสัญญา</label>
                    <input type="date" name="contract_end" placeholder="วันสิ้นสุดสัญญา"
                    value="">
                </div>
                <div class="required field">
                    <label>ระยะเวลา</label>
                    <div class="ui right labeled input">
                        <input type="text" name="contract_year" placeholder="ระยะเวลา(ปี)"
                        value="">
                        <div class="ui basic label">ปี</div>
                        
                    </div>
                </div>
            </div>

            <div class="three fields">
                <div class="required field">
                    <label>ค่าบำรุงเริ่มต้น</label>
                    <div class="ui right labeled input">
                        <input type="text" name="contract_1st_cost" placeholder="ค่าบำรุงเริ่มต้น"
                        value="">
                        <div class="ui basic label">บาท</div>
                    </div>
                </div>
                <div class="required field">
                    <label>อัตราค่าเช่าต่อปี</label>
                    <div class="ui right labeled input">
                        <input type="text" name="contract_annual_cost" placeholder="อัตราค่าเช่าต่อปี"
                        value="">
                        <div class="ui basic label">บาท</div>
                    </div>
                </div>
                <div class="required field">
                    <label>ส่วนแบ่งรายได้</label>
                    <select class="ui dropdown" name="contract_pay_cost" id="contract_pay_cost">
                        <option value="">ส่วนแบ่งรายได้</option>
                    </select>
                </div>
            </div>

            <div class="three fields">
                <div class="required field">
                    <label>ค่าไฟ</label>
                    <select class="ui dropdown" name="elec_pay_type" id="elec_pay_type">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
                <div class="required field">
                    <label>อัตราการจ่าย</label>
                    <div class="ui right labeled input">
                        <div class="ui dropdown basic label" name="elec_pay_rate" id="elec_pay_rate">
                            <div class="text">เลือก*</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                            </div>
                        </div>
                        <input type="text" name="elec_pay_rate2" placeholder="จำนวน">
                        <div class="ui basic label">บาท</div>
                    </div>

                </div>
                <div class="required field">
                    <label>ค่าปรับ</label>
                    <div class="ui labeled input">
                        <div class="ui dropdown basic label" name="elec_fee" id="elec_fee">
                            <div class="text">เลือก*</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                            </div>
                        </div>
                        <input type="text" name="elec_fee2" placeholder="ร้อยละ">
                    </div>

                </div>
            </div>
            <div class="field">
                <label>สิทธิประโยชน์อื่นๆ</label>
                <input type="text" name="contract_other_benefit" placeholder="สิทธิประโยชน์อื่นๆ"
                value="">
            </div>

            <div class="fields">
                <div class="eleven wide field">
                        <label>ชื่อบัญชี</label>
                        <input type="text" name="bank_owner_name" placeholder="ชื่อบัญชี"
                        value="">
                </div>		
                <div class="five wide field">
                    <label>เดือนที่ต้องทำจ่าย</label>
                    <select class="ui dropdown" name="bank_pay_month" id="bank_pay_month">
                        <option value="">เลือกเดือนที่ต้องทำจ่าย</option>
                    </select>
                </div>


            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <label>ธนาคาร</label>
                    <input type="text" name="bank_code_name" placeholder="ธนาคาร" 
                    value="">
                </div>
                <div class="five wide field">
                    <label>เลขบัญชี</label>
                    <input type="text" name="bank_number" placeholder="เลขบัญชี"
                    value="">
                </div>
            </div>
            <div class="field">
                <label>ช่องทางติดต่อนิติ 1</label>
                <input type="text" name="bank_owner_contact1" placeholder="ช่องทางติดต่อนิติ 1"
                value="">
            </div>
            <div class="field">
                <label>ช่องทางติดต่อนิติ 2</label>
                <input type="text" name="bank_owner_contact2" placeholder="ช่องทางติดต่อนิติ 2"
                value="">
            </div>

            <div class="ui secondary segment">

            <div class="two fields">
                <div class="required field">
                    <label>ประเภทโหนด</label>
                    <select class="ui dropdown" name="node_type" id="node_type">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
                <div class="required field">
                    <label>สัญญาร่วม</label>
                    <select class="ui dropdown" name="node_type2" id="node_type2">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <label>สัญญาร่วม&nbsp;&nbsp;-&nbsp;&nbsp;ประเภท</label>
                    <select class="ui dropdown" name="node_step" id="node_step">
                        <option value="">เลือกประเภท</option>
                    </select>
                </div>
                <div class="field">
                    <label>สัญญาร่วม&nbsp;&nbsp;-&nbsp;&nbsp;สัญญาย่อยที่เกี่ยวข้อง</label>
                    <input type="text" name="node_child" placeholder="สัญญาย่อยที่เกี่ยวข้อง"
                    value="">
                </div>
            </div>
            <div class="ui inverted secondary segment">
                <div class="ui checkbox">
                    <input type="checkbox" name="checksendmail" id="checksendmail">
                    <label>ต้องส่งขออนุมัติหรือไม่ <b>(ถ้าสัญญาไม่เปลี่ยนแปลง ไม่จำเป็นต้องขออนุมัติ)</b></label>
                </div>
            </div>
            </div>

        </div>

        <div class="ui equal width grid">
            <div class="column"></div>
            <div class="column">
                <button class="ui fluid blue button" id="btn_save_contract">บันทึก</button>
            </div>   
            <div class="column"></div>
        </div>
    </form>	
<div class="ui inverted dimmer" id="dimmer_disable_newcontract"></div> 
<div class="ui inverted dimmer" id="dimmer_success_newcontract">
    <div class="content">
        <div class="center">
            <h2 class="ui icon header">
                <i class="checkmark icon"></i>
                บันทึกสัญญาแล้ว
            </h2>
            <p class="sub header" style="color:black;" id="dimmer_success_newcontract_subheader"></p>
        </div>
    </div>    
</div>   
</div>


<div class="ui bottom attached tab segment" data-tab="oldcontract">
    <div class="ui form"><div class="inline field">
    <label>วันที่อัพเดท </label>
    <select class="ui search selection dropdown" name="contract_remark1" id="select_oldver">
        <option value="">เลือกวันและเวลา</option>
    </select>
    </div></div>
    <div class="ui divider"></div>
    <div id="show_oldver">
    </div>
    <!--------- แบบฟอร์มสัญญาเก่า ------------------------------------------------------------------------>
    <form class="ui small form" method="post" id="form_show_oldver">
        <div class="field">
            <div class="field">
                <label>เลขที่สัญญา</label>
                <input type="text" name="o_contract_number" placeholder="เลขที่สัญญา" readonly=""
                value="">
            </div>
            <div class="field">
                <label>ผู้ทำสัญญา</label>
                <input type="text" name="o_contract_person_name" placeholder="ผู้ทำสัญญา" readonly="">
            </div>

            <div class="two fields">
                <div class="field">
                    <label>ประเภทสัญญา</label>
                    <input type="text" name="o_contract_type" placeholder="ประเภทสัญญา"  readonly="">
                </div>
                <div class="field">
                    <label>สถานะสัญญา</label>
                    <input type="text" name="o_contract_status" placeholder="สถานะสัญญา"  readonly="">
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>วันเริ่มสัญญา</label>
                    <input type="date" name="o_contract_start" placeholder="วันเริ่มสัญญา" readonly="">
                </div>
                <div class="field">
                    <label>วันสิ้นสุดสัญญา</label>
                    <input type="date" name="o_contract_end" placeholder="วันสิ้นสุดสัญญา" readonly="">
                </div>
                <div class="field">
                    <label>ระยะเวลา(ปี)</label>
                    <input type="text" name="o_contract_year" placeholder="ระยะเวลา(ปี)" readonly="">
                </div>
            </div>


            <div class="three fields">
                <div class="field">
                    <label>ค่าบำรุงเริ่มต้น</label>
                    <input type="text" name="o_contract_1st_cost" placeholder="ค่าบำรุงเริ่มต้น" readonly="">
                </div>
                <div class="field">
                    <label>อัตราค่าเช่าต่อปี</label>
                    <input type="text" name="o_contract_annual_cost" placeholder="อัตราค่าเช่าต่อปี" readonly="">
                </div>
                <div class="field">
                    <label>ส่วนแบ่งรายได้</label>
                    <input type="text" name="o_contract_pay_cost" placeholder="ส่วนแบ่งรายได้"  readonly="">
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>ค่าไฟ</label>
                    <input type="text" name="o_elec_pay_type" placeholder="ค่าไฟ"  readonly="">
                </div>
                <div class="field">
                    <label>อัตราการจ่าย</label>
                    <input type="text" name="o_elec_pay_rate" placeholder="อัตราการจ่าย"  readonly="">
                </div>
                <div class="field">
                    <label>ค่าปรับ</label>
                    <input type="text" name="o_elec_fee" placeholder="ค่าปรับ"  readonly="">
                </div>
            </div>
            <div class="field">
                <label>สิทธิประโยชน์อื่นๆ</label>
                <input type="text" name="o_contract_other_benefit" placeholder="สิทธิประโยชน์อื่นๆ" readonly="">
            </div>

            <div class="fields">
                <div class="eleven wide field">
                        <label>ชื่อบัญชี</label>
                        <input type="text" name="o_bank_owner_name" placeholder="ชื่อบัญชี" readonly="">
                </div>		
                <div class="five wide field">
                    <label>เดือนที่ต้องทำจ่าย</label>
                    <input type="text" name="o_bank_pay_month" placeholder="เดือนที่ต้องทำจ่าย"  readonly="">
                </div>
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <label>ธนาคาร</label>
                    <input type="text" name="o_bank_code_name" placeholder="ธนาคาร"  readonly="">
                </div>
                <div class="five wide field">
                    <label>เลขบัญชี</label>
                    <input type="text" name="o_bank_number" placeholder="เลขบัญชี" readonly="">
                </div>
            </div>
            <div class="field">
                <label>ช่องทางติดต่อนิติ 1</label>
                <input type="text" name="o_bank_owner_contact1" placeholder="ช่องทางติดต่อนิติ 1" readonly="">
            </div>
            <div class="field">
                <label>ช่องทางติดต่อนิติ 2</label>
                <input type="text" name="o_bank_owner_contact2" placeholder="ช่องทางติดต่อนิติ 2" readonly="">
            </div>

                <div class="ui secondary segment">

            <div class="two fields">
                <div class="field">
                    <label>ประเภทโหนด</label>
                    <input type="text" name="o_node_type" placeholder="ประเภทโหนด" readonly="">
                </div>
                <div class="field">
                    <label>สัญญาร่วม</label>
                    <input type="text" name="o_node_type2" placeholder="สัญญาร่วม" readonly="">
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>สัญญาร่วม&nbsp;&nbsp;-&nbsp;&nbsp;ประเภท</label>
                    <input type="text" name="o_node_step" placeholder="สัญญาร่วม&nbsp;&nbsp;-&nbsp;&nbsp;ประเภท" readonly="">
                </div>
                <div class="field">
                    <label>สัญญาร่วม&nbsp;&nbsp;-&nbsp;&nbsp;สัญญาย่อยที่เกี่ยวข้อง</label>
                    <input type="text" name="o_node_child" placeholder="สัญญาย่อยที่เกี่ยวข้อง" readonly="">
                </div>
            </div>
            </div>

        </div>
    </form>     

<div class="ui inverted dimmer" id="dimmer_disable_oldcontract"></div>
                   
</div>
