<div id="detail2_info2"></div>
<!--<div class="ui info message close" id="detail2_info">
	<i class="close icon"></i>
	<div class="header"> ขั้นตอนขออนุมัติ </div>
	<ul class="list">
	<li>เลือกส่งอีเมลเอง หรือส่งอีเมลผ่านระบบโดยใช้กล่องข้อความด้านล่าง</li>
	<li>หลังจากส่งอีเมล ให้รอการตอบกลับ แล้วแนบไฟล์อีเมล์เพื่อยืนยันสถานะที่ปุ่ม 'อนุมัติ'</li>
	</ul>
</div>-->

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="tab_sendmail" id="tab_sendmail">ส่งอีเมล</a>
    <a class="item" data-tab="tab_approve" id="tab_approve">บันทึกผลอนุมัติ</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="tab_sendmail">
    <h4>ส่งอีเมลขออนุมัติ</h4>
	<form class="ui small form" method="post" id="form_sendmail">	
	
		<!-- <div class="ui fluid labeled input field">
				<div class="ui label"><i class="mail outline icon"></i>ผู้รับ&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<input type="text" name="mail_to" placeholder="to_1@mail.com;to_2@mail.com"
						value="">
		</div> -->
		<div class="ui fluid labeled input field">
			<div class="ui label"><i class="mail outline icon"></i>ผู้รับ&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div class="ui fluid multiple search selection dropdown"  name="mail_to" id="mail_to">
				<span class="default text">ส่งถึง</span>
			</div>
		</div>

		<!-- <div class="ui fluid labeled input field">
			<div class="ui label"><i class="mail outline icon"></i>CC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<input type="text" name="mail_cc" placeholder="cc_1@mail.com;cc_2@mail.com;cc_3@mail.com"
				   value="">
        </div> -->
        <div class="ui fluid labeled input field">
			<div class="ui label"><i class="mail outline icon"></i>CC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div class="ui fluid multiple search selection dropdown" name="mail_cc" id="mail_cc">
				<span class="default text">สำเนาถึง</span>
			</div>
		</div>

		<div class="ui fluid labeled input field">
				<div class="ui label"><i class="edit icon"></i>หัวข้อ</div>
				<input type="text" name="mail_subject" placeholder="หัวข้อเรื่อง"
						value="">
		</div>

		<div class="field">
				<textarea rows="13" id="mail_detail" name="mail_detail"></textarea>
		</div>
		<div class="ui inverted dimmer" id="loader_mail">
    	<div class="ui indeterminate large text loader">กำลังส่งอีเมล</div>
  	</div>
		<div class="ui inverted dimmer" id="dimmer_mailsend">
			<div class="content">
				<div class="center">
					<h2 class="ui icon header">
						<i class="checkmark icon"></i>
						ส่งอีเมลแล้ว
					</h2>
					<p class="sub header" style="color:black;"> คลิกเพื่อแก้ไข </p>
				</div>
			</div>
  	</div>
	</form>
	<div class="ui equal width grid">
			<div class="column"></div>
			<div class="column">
				<button class="fluid ui button" id="btn_sendmail" value="send">
				ส่งอีเมล</button></div>
			<div class="column"></div>
	</div>
	<div class="ui inverted dimmer" id="dimmer_disable_mail"></div>
	<div class="ui inverted dimmer" id="dimmer_success_mail">
    <div class="content">
        <div class="center">
            <h2 class="ui icon header">
                <i class="checkmark icon"></i>
                อนุมัติแล้ว
			</h2>
			<p class="sub header" style="color:black;" id="dimmer_success_mail_subheader"></p>
        </div>
		</div>
	</div>     
</div>


<div class="ui bottom attached tab segment" data-tab="tab_approve">
		<h4>เลือกไฟล์สำเนาอีเมล</h4>
	<form class="ui form" id="form_email_upload">
		
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="field">
					<input type="file" name="file_email" id="file_email" style="border: 1px gainsboro solid;padding: 4px">
				</div>
			</div>
		</div>
			<br>
			<div class="field"><label>รายละเอียดเพิ่มเติม/เหตุผล</label>
			<textarea id="approve_remark"></textarea></div>
		
		<div class="ui equal width grid">
			<div class="column"></div>
			<div class="column">
				<button class="ui fluid red button" id="btn_notapprove"> ไม่อนุมัติ</button>
			</div>
			<div class="column">
				<button class="ui fluid orange button" id="btn_talkagain"> เจรจาใหม่</button>
			</div>
			<div class="column">
				<button class="ui fluid blue button" id="btn_approve"> อนุมัติ</button>
			</div>
			<div class="column"></div>
		</div>

	</form>					
	<div class="ui inverted dimmer" id="dimmer_disable_approve"></div>
	<div class="ui inverted dimmer" id="dimmer_success_approve">
    <div class="content">
        <div class="center">
            <h2 class="ui icon header">
                <i class="checkmark icon"></i>
                อนุมัติแล้ว
			</h2>
			<p class="sub header" style="color:black;" id="dimmer_success_approve_subheader"></p>
        </div>
		</div>
	</div>
</div>


