<div id="detail3_info2"></div>
<div class="ui warning attached message" id="detail3_info">
  <div class="header"> ขั้นตอนส่งเอกสารสัญญา </div>
  <ul class="list">
  <li>เลือกประเภทสัญญาแล้วกดยืนยัน</li>
  <li>กดยืนยันหลังจาก<u>รวบรวมเอกสารเสร็จแล้ว</u>เท่านั้น</li>
  </ul>
</div>

<div class="ui attached segment">
    <div class="ui form"><div class="inline field">
    <label>เลือกประเภทสัญญา </label>
    <select class="ui dropdown" name="select_document_type" id="select_document_type">
      
    </select>
    </div></div>

    <div class="ui divider"></div>
    <div id="show_document"></div>
    <div class="ui equal width grid">
      <div class="column"></div>
      <div class="column">
        <button class="fluid blue ui button" id="btn_selectdoc" value="selectdoc">
        ส่งเอกสาร</button></div>
      <div class="column"></div>
    </div>
<div class="ui inverted dimmer" id="dimmer_disable_selectdoc"></div>
<div class="ui inverted dimmer" id="dimmer_success_selectdoc">
  <div class="content">
      <div class="center">
          <h2 class="ui icon header">
              <i class="checkmark icon"></i>
              ส่งเอกสารแล้ว
          </h2>
          <p class="sub header" style="color:black;" id="dimmer_success_selectdoc_subheader"></p>
      </div>
  </div>
</div>
</div>