    <div id="detail4_info2"></div>
    <!--<div class="ui info message close" id="detail4_info">
        <i class="close icon"></i>
        <div class="header"> ขั้นตอนตรวจรับสัญญา </div>
        <ul class="list">
        <li> ติ้กเลือกเอกสารที่ได้รับ จากนั้นกดปุ่ม 'รับเอกสาร' </li>
        <li> หาก<u>เอกสารไม่ครบ</u> ให้กดปุ่ม 'ปฏิเสธเอกสาร' พร้อมกรอกรายละเอียด </li>
        <li> หาก<u>เลือกประเภทเอกสารผิด</u> ให้กดปุ่ม 'ปฏิเสธเอกสาร' พร้อมกรอกรายละเอียด 
             แล้วย้อนกลับไปเลือกใหม่ที่แท็บเอกสารสัญญา </li>
        </ul>
    </div>-->

<div class="ui segment">
<!--แสดงสัญญาที่ต้องส่ง (อยู่ในฟังก์ชั่น)-->
    <div id="show_check_document"></div>
    <br>
<!--อัพโหลดไฟล์-->
	<form class="ui form" id="form_doc_upload">
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="field">
                    <label>อัพโหลดเอกสาร</label>
					<input type="file" name="file_doc" id="file_doc" style="border: 1px gainsboro solid;padding: 4px">
				</div>
			</div>		
		</div>
	</form>


<!--ปุ่ม-->
    <div class="ui equal width grid">
        <div class="column"></div>
        <div class="column">
            <button class="fluid red ui button" id="btn_rejectdoc" value="rejectdoc">
            ปฏิเสธเอกสาร</button></div>
        <div class="column">
            <button class="fluid blue ui button" id="btn_savedoc" value="savedoc">
            รับเอกสาร</button></div>
        <div class="column"></div>
    </div>
<div class="ui inverted dimmer" id="dimmer_disable_savedoc"></div>
<div class="ui inverted dimmer" id="dimmer_success_savedoc">
  <div class="content">
      <div class="center">
          <h2 class="ui icon header">
              <i class="checkmark icon"></i>
              รับเอกสารแล้ว
          </h2>
          <p class="sub header" style="color:black;" id="dimmer_success_savedoc_subheader"></p>
      </div>
  </div>
</div>
</div>