<div id="detail5_info2"></div>
<div class="ui segment">
    <h4>อัพเดทสถานะ</h4>
    <div class="ui equal width grid">
        <div class="column"></div>
        <div class="column">
            <button class="fluid red ui button pop" id="btn_endwork"
            data-html="กดปุ่ม <div class='compact mini red ui button'>ปิดงาน</div> เพื่อยืนยันว่างานสัญญานี้เสร็จแล้ว">
            ปิดงาน</button></div>
        <div class="column"></div>
    </div>
<div class="ui inverted dimmer" id="dimmer_disable_endwork"></div>
<div class="ui inverted dimmer" id="dimmer_success_endwork">
  <div class="content">
      <div class="center">
          <h2 class="ui icon header">
              <i class="checkmark icon"></i>
              ปิดงานแล้ว
          </h2>
          <p class="sub header" style="color:black;" id="dimmer_success_endwork_subheader"></p>
      </div>
  </div>
</div> 
</div>